NEXT_PUBLIC_SUPABASE_URL=https://yntngseawecpipttwimw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InludG5nc2Vhd2VjcGlwdHR3aW13Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYyNjk2MDYsImV4cCI6MjA5MTg0NTYwNn0.Z9h8w3VgwIPfV6NwmxxSxHcz_a4tuRua2ir1yW-FtiU
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InludG5nc2Vhd2VjcGlwdHR3aW13Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjI2OTYwNiwiZXhwIjoyMDkxODQ1NjA2fQ.KHCkgBQkrKV5-XEF2vNH_Jikz9jxFzxHbg22u1HiNEA
